/* Post.css */
.post-container {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;
  overflow: hidden; /* Clear the float */
}

.user-picture {
  float: left; /* Float the user picture to the left */
  margin-right: 10px; /* Adjust the margin as needed to add space between picture and username */
}

.user-picture img {
  width: 40px; /* Adjust the width as needed */
  border-radius: 50%; /* Make it a circular image */
}

.post-user {
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 50px; /* Add margin to the left of the username to create space for the picture */
}

.post-text {
  margin-bottom: 10px;
}

.post-created-at {
  font-size: 12px;
  color: #ddd;
}

.comment-prompt {
  margin-top: 10px;
  margin-bottom: 10px;
}

.comment-prompt input {
  width: 70%; /* Adjust the width as needed */
  padding: 5px;
  margin-right: 5px;
}

.comment-prompt button {
  padding: 5px;
  cursor: pointer;
}

.comments-container {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
}

.comment-container {
  margin-bottom: 10px;
}

.comment-author {
  font-weight: bold;
  margin-bottom: 5px;
}

.comment-text {
  margin-bottom: 5px;
}

.comment-created-at {
  font-size: 12px;
  color: #ddd;
}

button {
  background-color: #007bff; /* Blue by default */
  color: #fff; /* Text color */
  padding: 6px 12px; /* Adjust padding for a smaller size */
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px; /* Adjust font size for a smaller size */
  margin-top: 8px; /* Add margin to separate from the input */
  transition: background-color 0.3s; /* Smooth transition for color change */
}

button:hover {
  background-color: rgb(0, 47, 255); /* Red on hover */
}

.delete-button:hover {
  background-color: #dc3545; /* Red on hover */
}